[tool.poetry]
name = "uvicore"
version = "0.1.9"
license = "MIT"
authors = ["Matthew Reschke <mail@mreschke.com>"]
description = "The Async Python Framework for Artisans. An Elegant Fullstack Python Web, API and CLI Framework"
readme = "README.md"
homepage = "https://github.com/uvicore/framework"
documentation = "https://github.com/uvicore/framework"
repository = "https://github.com/uvicore/framework"
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Typing :: Typed",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
]
include = ["LICENSE"]


[tool.poetry.dependencies]
# These packages are mandatory and form the core of the uvicore distribution
python = ">=3.7,<4.0"
asyncclick = "7.1.*"
colored = "1.4.*"
prettyprinter = "0.18.*"
environs = "9.3.*"
aioredis = "1.3.*"
argon2-cffi = "20.1.*"
cryptography = "3.4.*"

# Optional Dependencies for Database Connectivity
sqlalchemy = {version = "1.3.*", optional = true}
alembic = {version = "1.5.*", optional = true}
databases = {version = "0.4.*", extras = ["postgres", "mysql", "sqlite"], optional = true}

# Optional Dependencies for Web and API Serving
fastapi = {version = "0.63.*", optional = true}
uvicorn = {version = "0.13.*", optional = true}
gunicorn = {version = "20.0.*", optional = true}
aiofiles = {version = "0.6.*", optional = true}
Jinja2 = {version = "2.11.*", optional = true}
requests = {version = "2.25.*", optional = true}
itsdangerous = {version = "1.1.*", optional = true}
uvloop = {version = "0.14.*", optional = true}
httptools = {version = "0.1.*", optional = true}
python-multipart = {version = "0.0.*", optional = true}
PyJWT = {version = "2.0.*", optional = true}


[tool.poetry.extras]
# Install dependency groups with poetry install --extras "database web"
database = [
    "sqlalchemy",
    "alembic",
    "databases"
]
web = [
    "fastapi",
    "uvicorn",
    "gunicorn",
    "aiofiles",
    "Jinja2",
    "requests",
    "itsdangerous",
    "uvloop",
    "httptools",
    "python-multipart",
    "PyJWT"
]


[tool.poetry.dev-dependencies]
pytest = "6.2.*"
pytest-cov = "2.11.*"
pytest-asyncio = "0.14.*"
black = "20.8b1"
mkdocs = "1.1.*"
mkdocs-material = "6.2.*"
jupyterlab = "3.0.*"
ipython = "7.21.*"


[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
