[tool.poetry]
name = "uvicore"
version = "0.1.2"
description = ""
authors = ["Matthew Reschke <mail@mreschke.com>"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
fastapi = "^0.61.1"
uvicorn = "^0.11.8"
gunicorn = "^20.0.4"
aiofiles = "^0.5.0"
databases = "^0.3.2"
alembic = "^1.4.2"
asyncclick = "^7.0.9"
colored = "^1.4.2"
prettyprinter = "^0.18.0"
environs = "^8.0.0"
jinja2 = "^2.11.2"
ipython = "^7.18.1"
rx = "^3.1.1"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
pytest-cov = "^2.10.1"
pytest-asyncio = "^0.14.0"
black = "^20.8b1"
databases = {extras = ["mysql", "sqlite"], version = "^0.3.2"}
requests = "^2.24.0"
mkdocs = "^1.1.2"
mkdocs-material = "^5.5.14"
jupyterlab = "^2.2.8"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
