[tool.poetry]
name = "uvicore"
version = "0.2.0"
license = "MIT"
authors = ["Matthew Reschke <mail@mreschke.com>"]
description = "The Fullstack Async Web, API and CLI Python Framework"
readme = "README.md"
homepage = "https://github.com/uvicore/framework"
documentation = "https://github.com/uvicore/framework"
repository = "https://github.com/uvicore/framework"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Environment :: Web Environment",
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Typing :: Typed",
]
include = ["LICENSE"]


[tool.poetry.dependencies]
# These packages are mandatory and form the core of the uvicore distribution
# ------------------------------------------------------------------------------
python = ">=3.7,<4.0"
anyio = "3.2.*"
colored = "1.4.*"
prettyprinter = "0.18.*"
environs = "9.3.*"
argon2-cffi = "20.1.*"
cryptography = "3.4.*"
aiohttp = "3.7.*"
merge-args = "0.1.*"
# merge_args see also https://github.com/smarie/python-makefun
httpx = "0.19.*"

# Do not use asyncclick until a new version of 7.x is released that fixes call_on_close
# Instead, uvicore now includes the code of my patched asyncclick in console/asyncclick
#asyncclick = "7.1.*"
#asyncclick = {path = "../asyncclick", develop = true}
#uvicorn already installs click 7.1.2


# Optional Dependencies for Database Connectivity
# ------------------------------------------------------------------------------
sqlalchemy = {version = "1.3.*", optional = true}
alembic = {version = "1.5.*", optional = true}
databases = {version = "0.4.*", extras = ["postgresql", "mysql", "sqlite"], optional = true}


# Optional Dependencies for Redis Connectivity
# ------------------------------------------------------------------------------
aioredis = {version = "1.3.*", optional = true}


# Optional Dependencies for Web and API Serving
# ------------------------------------------------------------------------------
fastapi = {version = "0.68.*", optional = true}  # fastapi 0.66.1 starlette 0.14.2
uvicorn = {version = "0.13.*", optional = true}
gunicorn = {version = "20.0.*", optional = true}
aiofiles = {version = "0.6.*", optional = true}
#Jinja2 = {version = "2.11.*", optional = true}
Jinja2 = {version = "3.1.*", optional = true}
requests = {version = "2.25.*", optional = true}
itsdangerous = {version = "1.1.*", optional = true}
uvloop = {version = "0.16.*", optional = true}
httptools = {version = "0.1.*", optional = true}
python-multipart = {version = "0.0.*", optional = true}
PyJWT = {version = "2.0.*", optional = true}

# This must match fastapis requirement for whatever version of fastapi you are using
# Because if you choose only "database" option, we need pydantic
pydantic = {version = "1.8.*", optional = true}


# Optional Dependencies for Themes
# ------------------------------------------------------------------------------
# mreschke-themes = {path = "../../mreschke/uvicore/themes", develop = true}


[tool.poetry.extras]
# Install dependency groups with poetry install --extras "database redis web themes"
database = [
    "sqlalchemy",
    "alembic",
    "databases",
    "pydantic",
]
redis = [
    "aioredis",
]
web = [
    "fastapi",
    "uvicorn",
    "gunicorn",
    "aiofiles",
    "Jinja2",
    "requests",
    "itsdangerous",
    "uvloop",
    "httptools",
    "python-multipart",
    "PyJWT"
]
#themes = [
#    'mreschke-themes'
#]


[tool.poetry.dev-dependencies]
# To skip uvicore dev dependencies use poetry install --no-dev --extras "database redis web themes"
pytest = "6.2.*"
pytest-cov = "2.11.*"
pytest-asyncio = "0.14.*"
black = "20.8b1"
mkdocs = "1.4.*"
mkdocs-material = "8.4.*"

#jupyterlab = "3.0.*"
ipython = "7.21.*"


[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
