{% extends "themes/" + theme.name + "/layout.j2" %}
{% block content %}

    <!-- Jumbotron -->
    <div class="p-5 text-center">
        <h1 class="mb-3">About Page Here</h1>
        <a class="btn btn-primary" href="{{ url('home') }}" role="button">Back Home</a>
    </div>
    <!-- Jumbotron -->

{% endblock %}
