{% extends "themes/" + theme.name + "/layout.j2" %}
{% block content %}

    <!-- Jumbotron -->
    <div class="p-5 text-center">
        <h1 class="mb-3">Welcome to the Uvicore Test App1</h1>
        {# <h4 class="mb-3">A prototype wiki written in the async python web framework Uvicore!</h4>
        <a class="btn btn-primary" href="{{ url('wiki.search') }}" role="button">View all Posts</a> #}
    </div>
    <!-- Jumbotron -->

{% endblock content %}


