<h1>Login Page</h1>

<a href="{{url('app1.home')}}">Home</a> |
<a href="{{url('app1.about')}}">About</a> |
<a href="{{url('app1.admin')}}">Admin</a> |
<a href="{{url('app1.login')}}">Login</a> |
<a href="{{url('app1.logout')}}">Logout</a>

