Jinja2 Template for 404

<ul>
    <li>Status Code: {{status_code}}</li>
    <li>Message: {{message}}</li>
    <li>Detail: {{detail}}</li>
    <li>Options: <pre>{{options}}</pre></li>
    <li>Headers: <pre>{{headers}}</pre></li>
</ul>
