<ul class="navbar-nav me-auto mb-2 mb-lg-0">

    <li class="nav-item"><a class="nav-link" href="{{url('home')}}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url('app1.about')}}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url('app1.admin')}}">Admin</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url('app1.login')}}">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url('app1.logout')}}">Logout</a></li>

</ul>
